@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Belgrano');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html{
box-sizing: border-box;
}

body{
background:/*/linear-gradient(#48F3DB,#4A3764);/*/
			linear-gradient(217deg, #6639A6, #3490DE 70.71%),linear-gradient(127deg, #3490DE, #6FE7DD 70.71%),linear-gradient(336deg, #6FE7DD, #521262 70.71%);
}


*,*:before,*:after{
box-sizing: inherit;
transition:all 0.5s;
}

a{
display:inline-block;
text-decoration:none;
}

.salut{
font-family:Roboto;
font-size:3rem;
text-align:center;
-webkit-text-stroke:0.5px black;
color:rgba(0,0,0,0);
text-shadow:#05ff05 4px 4px;
text-transform:uppercase;



padding: 15px 32px;
margin-top:10vh;
margin-left:10vw;
margin-right:50vw;

border-style: solid;
border-width: 1px;
border-color: black;

background-color:#C2CFD8;

}

.salut:hover{

font-family:Roboto;
color:rgb(0,0,0);
text-shadow:none;
background-color:#ffd714;
box-shadow:inset 0 0 0 3px black;
}


.coucou{
font-family:Belgrano,serif;
font-size:3rem;
text-align:center;
color:#e8667b;

padding: 15px 32px;
margin-top:10vh;
margin-left:10vw;
margin-right:50vw;

background-color:#C2CFD8;

}

.coucou:hover{
font-family:Belgrano;
text-shadow:none;
color:#7142f4;
background: linear-gradient(0deg, #ffd714 75%, rgba(0,0,0,0) 75%);
	background-size: 400% 400%;
	-webkit-animation: Gradient ease-in 1s forwards;
	-moz-animation: Gradient ease-in 1s forwards;
	animation: Gradient ease-in 1s forwards;
	}

@-webkit-keyframes Gradient {

	0% {
		background-position: 0% 0%
	}

	50% {
		background-position: 75% 75%
	}

	100% {
		background-position: 100% 100%
	}
}

@-moz-keyframes Gradient {

	0% {
		background-position: 0% 0%
	}

	50% {
		background-position: 75% 75%
	}

	100% {
		background-position: 100% 100%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 0%
	}

	50% {
		background-position: 75% 75%
	}

	100% {
		background-position: 100% 100%
	}
}



.bonjour{
font-family:Georgia;
font-size:3rem;
text-align:center;
color:grey;

padding: 15px 32px;
margin-top:10vh;
margin-left:10vw;
margin-right:50vw;

background-color:#C2CFD8;
border-radius: 15px;

border-style: solid;
border-width: 5px;
border-color: rgba(0,0,0,0);
}

.bonjour:hover{
font-family:Georgia;
color:black;
text-shadow:none;

border-radius: 15px;
background:rgba(0,0,0,0);
border-style: solid;
border-width: 5px;
border-color: #ffd714;
}



.yo{
font-family:Oswald;
font-size:3rem;
text-align:center;
color:BLACK;

padding: 15px 32px;
margin-top:10vh;
margin-left:10vw;
margin-right:50vw;

background-color:#C2CFD8;
border-radius: 30px;
}


.yo:hover{
font-family:Oswald;
color:black;
text-shadow:none;

border-radius: 15px;
background:rgba(0,0,0,0);
box-shadow: 15px 15px 0px black inset, -15px -15px 0px black inset;
background: linear-gradient(0deg, blue 75%, rgba(0,0,0,0) 75%);
	background-size: 400% 400%;
	-webkit-animation: BGradient 1s;
	-moz-animation: BGradient 1s;
	animation: BGradient 1s;
	}

@-webkit-keyframes BGradient {

	0% {
		box-shadow:0px 0px 0px blue inset, -15px -15px 0px blue inset;
	}

	50% {
		box-shadow:8px 8px 0px blue inset, -8px -8px 0px blue inset;
	}

	100% {
		box-shadow:15px 15px 0px blue inset, -15px -15px 0px blue inset;
	}
}

@-moz-keyframes BGradient {


	0% {
		box-shadow:0px 0px 0px blue inset, -15px -15px 0px blue inset;
	}

	50% {
		box-shadow:8px 8px 0px blue inset, -8px -8px 0px blue inset;
	}

	100% {
		box-shadow:15px 15px 0px blue inset, -15px -15px 0px blue inset;
	}
}

@keyframes BGradient {

	0% {
		box-shadow:0px 0px 0px blue inset, -15px -15px 0px blue inset;
	}

	50% {
		box-shadow:8px 8px 0px blue inset, -8px -8px 0px blue inset;
	}

	100% {
		box-shadow:15px 15px 0px blue inset, -15px -15px 0px blue inset;
	}
}




